<section class="login-page" id="login-setup">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-lg-6 col-xl-6 text-center custom-bg-img">
				<div class="lt-form-section">
					
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-6 col-xl-6 text-center bg-black">
                <div class="back-to-login mt-4 ml-3">
                    <a class="float-left text-light" href="/login">
                        <i class="fa fa-angle-left pr-2"></i>
                        <span>Back to login</span></a>
                </div>
				<div class="rt-form-section mt-3">
					<img src="../../../../assets/images/footer-logo.svg" alt="footer-logo">

					<div [hidden]="isSSOLoginForm">
						<form [formGroup]="ssoLoginForm" (submit)="onSubmitSSOLogin()" class="login-form mt-5 text-center">
							<h1 class="text-white">Need a new password?</h1>
							<h5 class="text-white">Enter your email and we'll send you a password reset link.</h5>
	
							<div class="custom-input-section mb-2 pt-2">
								<input type="text" class="form-control" placeholder="Email" formControlName="email"
									[ngClass]="{'is-invalid': ssoSubmitted && s.email.errors }">
								<div *ngIf="ssoSubmitted && s.email.errors" class="invalid-feedback">
									<div *ngIf="s.email.errors.required">Email is required</div>
									<div *ngIf="s.email.errors.email">Email must be a valid email address</div>
								</div>
							</div>
	
							<button type="submit" class="btn custom-login-btn text-uppercase">Email me reset link</button>
						</form>
						<div class="form-btm-section mt-5 mb-0">
							<div class="lt-sec w-100">
								<a href="javascript:void(0)" (click)="isBCLogin()" class="text-white text-center">Other problems logging in?</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>