.bg-black {
    background: #000;
    height:100vh;
}
form.login-form h1 {
   font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.2rem;
}
.custom-input-section input {
    border-radius: 3px;
    margin: 15px auto;
    width: 50%;
    height: 50px;
}
.login-form .custom-login-btn {
    width: 50%;
    height: 50px;
}
.form-btm-section {
   width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-btm-section .lt-sec {
    float: left;
}
.form-btm-section .rt-sec {
    float: right;
}
.rt-form-section,.lt-form-section {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
}
.custom-input-section {
    position: relative;
}
.custom-input-section span.forgot-pass {
    position: absolute;
    right: 40px;
    width: 50%;
    top: 50%;
    transform: translate(0%,-50%);
    color: #0D52FF;
}
.lt-form-section p {
    font-size: 1.3rem;
    line-height: 2rem;
    opacity: 0.7;
    width: 90%;margin:0 auto;
}
.lt-form-section h1 {
    font-weight: 400;
    font-size: 2rem;
    width:80%;margin:0 auto;
}
.form-btm-section .lt-sec a {
    font-weight: 300;
    letter-spacing: 0.04rem;
}
.back-to-login{
   position:fixed;
   top:0;
   z-index:11;
}
form.login-form h5 {
    opacity: 0.75;  
    font-size: 1rem;
}
button.custom-login-btn{
    background:#007bff;
}
button.custom-login-btn:hover{
    background:#3A426E
}
button.custom-login-btn:hover a,button.custom-login-btn{
    color:#ffffff;
}
@media screen and (max-width:767px){
.custom-bg-img {
	flex: 100%;
    width: 100%;
    max-width: 100%;
}
.rt-form-section,section#login-setup div.row > div.custom-bg-img,.rt-form-section, .lt-form-section{
	position:static;
	transform:none;
}
.bg-black,section#login-setup div.row > div.custom-bg-img{
	flex: 100%;
    max-width: 100%;
    height:100%;
    padding:3rem 0;
}
.custom-input-section input,.login-form .custom-login-btn,.form-btm-section {
    width: 70%;
}
.login-page .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column-reverse;
}
}