<app-essentials-header></app-essentials-header>

<section class="banner-section mt-4" id="top-banner">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6 col-lg-6">
				<div class="top-banner-head mt-5">
					<h1 class="font-weight-bold">More features, support and security with no hidden fees</h1>
                 <p class="type-large pt-3 pb-5">Create your own store and start selling today with our risk-free 15 day trial</p >
				</div>
				
				<button class="custom-createbtn essential-btn w-100 text-left mb-4">
                    <a routerLink="/auth/start-a-trial" class="text-white text-uppercase pr-3 pl-3">Start your free trial</a></button>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-6 mt-2 free-trial-topimg">
				<img src="https://wwwcdn.bigcommerce.com/www1.bigcommerce.com/assets/herobanners/bigcommerce-free-trial-hero.png?mtime=20170221173927" alt="banner-img">
			</div>
		</div>
		
	</div>
</section>

<section class="ellipse-growth w-100 float-left mt-100" id="ellipse-growth-section">
    <div class="container">
        <div class="inner-section d-flex justify-content-center align-items-center m-auto">
            <h1 class="font-weight-bold text-center">Three reasons why fast-growing businesses choose BigCommerce</h1>
        </div>
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-xs-12 col-sm-6 col-md-4 col-xl-4">
                    <h4 class="text-center font-weight-bold ellipse-subhead-sz">No Hidden Costs, No Games</h4>
                    <p class="text-center">We believe in transparency, so unlike other ecommerce platforms we don’t surprise you with hidden fees, bandwidth overage charges, or anything else that limits your success.</p>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-xl-4">
                    <h4 class="text-center font-weight-bold ellipse-subhead-sz">We're Here to Help 24/7</h4>
                    <p class="text-center">
                        Our experts are available 24/7 to help you via phone, chat and email. While other companies reward support teams for short talk times, our people are judged only on your satisfaction.</p>
                </div>
 
                <div class="col-xs-12 col-sm-6 col-md-4 col-xl-4">
                    <h4 class="text-center font-weight-bold ellipse-subhead-sz">Sell Anything</h4>
                    <p class="text-center">
                        Our clients sell everything from $1 items to $700,000 construction equipment — and everything in between. No matter what you sell, you can sell more with BigCommerce.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ellipse-growth w-100 float-left mt-100" id="ellipse-growth-section">
    <div class="container">
        <div class="inner-section ellipse-wdth m-auto">
            <h1 class="font-weight-bold text-center">Grow your business faster</h1>
            <p class="type-large mt-3 mb-4">Open your online store with BigCommerce to increase sales and streamline your operations.</p>
            <button class="custom-createbtn essential-btn w-100 text-left">
                <a routerLink="/auth/start-a-trial" class="text-white text-uppercase pr-3 pl-3">Start your free trial</a></button>
        </div>
        <div class="container-fluid">
            <div class="mt-100 ellipse-btm-txt">
            <p class="font-italic">With this offer, you will not be charged the monthly subscription fee for the BigCommerce plan selected for a period of one month from the date of activation (the “Offer”). The free Offer period applies only to base monthly subscription fees and does not apply to other services or products.The offer is valid for a limited time, and may be modified or terminated by BigCommerce at any time. You must select either a Standard, Plus or Pro plan to be eligible. Within 15 days from the date of activation, you must complete the registration process, including providing valid credit card information for future billing. Offer not valid for existing customers, limited to one use per customer, and may not be combined with any other offer.</p>

            <p class="font-italic"><strong>IMPORTANT:</strong> After the end of the free promotional period your card will be charged the monthly subscription fee for the plan type you have selected, unless you cancel your account prior to the end of the free offer period. If you cancel your account or do not complete registration, your store will be deactivated and you will no longer be able to access the control panel. By registering an account and submitting your payment details, you are agreeing to BigCommerce's <a hef="#">terms of service</a></p>
            </div>
        </div>
    </div>
</section>