<header class="header verification-header">
    <div class="container-fluid">
        <div class="row  d-flex flex-wrap align-items-center">
            <div class="col-xs-6 col-sm-6 col-xl-6">
                <div class="verification-logoimg d-flex flex-wrap justify-content-start align-items-center">
                    <img src="../../../../assets/images/logo.svg" alt="logo">
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-xl-6">
                <div class="verification-header-signup d-flex flex-wrap justify-content-end align-items-center">
                    <ul class="list-inline m-0">
                        <li><a href="">Help Center</a></li>
                        <li><a href="">logout</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</header>
<div class="verification-popup m-auto d-flex flex-wrap justify-content-center align-items-center">
    <div class="verification-inner m-auto w-100 pt-5 pb-5 mt-3">
        <div class="top-imgs">
            <ul class="list-inline">
                <li><a href=""><img src="../../../../assets/images/verification-logo.svg"></a></li>
                <li><a href=""><img src="../../../../assets/images/verification-lock.svg"></a></li>
            </ul>
        </div>
        <h1 class="w-100 text-center pb-4 m-0">2-Step Verification</h1>
        <p class="w-100 text-center mt-1">Enter the verification code sent to</p>
        <p class="w-100 text-center m-0 custom-font-weight">xyz123@gmail.com</p>
        <div class="form-field mt-5">
            <label class="verfication-label text-left w-100 custom-font-weight">Verification Code</label>
            <input type="text" class="verification-input" placeholder="Enter Code">
        </div>
        <div class="veri-btm-sec mt-3 d-flex flex-wrap justify-content-center align-items-center">
            <p class="m-0">Where is my code?</p>
            <a href="" class="verify-btn">Verify</a>
        </div>
    </div>
    <div class="verification-ftr m-auto w-100">
        <ul class="list-inline m-0 d-flex flex-wrap justify-content-center">
            <li><a href="">Security</a></li>
            <li><a href="">Privacy Policy</a></li>
        </ul>
    </div>
</div>