<div class="start-trial-logo d-flex justify-content-center mt-5">
    <img src="../../../../assets/images/logo.svg" alt="logo">
</div>
<div class="promotion mt-3">
    <p class="text-center green-bg pt-2 pb-2 m-0 text-white">Your promotion has been applied!</p>
</div>

<section class="start-trial-form mt-5" id="trial-form">
    <div class="container">
        <h1 class="font-weight-bold text-center">Create your beautiful store today</h1>
        <p class="text-center">Start your free 15-day trial, no credit card required.</p>
    </div>

    <form class="promotion-form pt-4 m-auto d-flex justify-content-center">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-6">
                <div class="form-field">
                    <input type="text" matInput placeholder="First Name">
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-6">
                <div class="form-field">
                    <input type="text" matInput placeholder="Last Name">
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-lg-12">
                <div class="form-field">
                    <input type="Email" matInput placeholder="Email Addres">
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-lg-12">
                <div class="form-field">
                    <input type="password" matInput placeholder="Password">
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-lg-12">
                <div class="form-field">
                    <input type="text" matInput placeholder="Store name (You can change this at any time)">
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-lg-12">
                <div class="form-field">
                    <select id="gender1"> What size is your online business?
                        <option>I haven't started selling yet: no revenue</option>
                        <option>Just starting out: less than $50k revenue</option>
                        <option>Building a business: $50k–250k revenue</option>
                        <option>Growing business: $250k–1M revenue</option>
                        <option>Maturing business: $1M–20M revenue</option>
                        <option>Established business: $20M–100M revenue</option>
                        <option>Enterprise: more than $100M revenue</option>
                        <option>I'm not sure</option>
                        
                    </select> 
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 w-100 m-auto text-center create-store">
                <button _ngcontent-spu-c78="" class="custom-createbtn essential-btn w-100 text-left"><a _ngcontent-spu-c78="" routerlink="/start-a-trial" class="text-white text-uppercase pr-3 pl-3" ng-reflect-router-link="/start-a-trial" href="/start-a-trial">Create my store</a></button>
                <p class="text-center pt-3">By providing your email, you are agreeing to our <a class="link">terms of service.</a></p>
            </div>
        </div>
    </form>
</section>