<app-header></app-header>

<section class="banner-section mt-4" id="top-banner">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-12 col-lg-12 col-xl-6">
				<div class="top-banner-head mt-5">
					<h1>Ecommerce</h1>
					<h1>For <span class="top-bg-before">A New Area</span></h1>
				</div>
				<div class="top-banner-pata">
					<p>Build a business that’s ready for anything with the flexibility of Open SaaS.</p>
				</div>
				<button class="custom-createbtn w-100 text-left mt-5"><a href="#"
						class="text-white text-uppercase pl-3">GET THE PRODUCT TOUR</a></button>
			</div>
			<div class="col-xs-12 col-md-12 col-lg-12 col-xl-6">
				<img src="../../../assets/images/collage-storefront-product-watch-analytics-person-generic@2x.webp"
					alt="banner-img">
			</div>
		</div>
		<div class="top-banner-logo">
			<ul class="list-inline d-flex justify-content-center align-items-center mt-5">
				<li><a href="#"><img src="../../../assets/images/BenJerrys-Black.svg" alt="BenJerrys-Black"></a></li>
				<li><a href="#"><img src="../../../assets/images/Skullcandy-Black.svg" alt="Skullcandy-Black"></a></li>
				<li><a href="#"><img src="../../../assets/images/Woolrich-Black.svg" alt="Woolrich-Black"></a></li>
				<li><a href="#"><img src="../../../assets/images/Bliss-Black.svg" alt="Bliss-Black"></a></li>
				<li><a href="#"><img src="../../../assets/images/Burrow-Black.svg" alt="Burrow-Black"></a></li>
			</ul>
		</div>
	</div>
</section>


<section class="growth w-100 float-left mt-100" id="growth-section">
	<div class="container">
		<div class="container-fluid">
			<h1 class="text-center pb-3">Ignite Growth, Not Complexity</h1>
			<p class="text-center growth-top-para">Meet the flexible, open SaaS platform leading a new era of ecommerce.
				Explore limitless possibilities to <strong><a href="#">Build,</a>&nbsp;<a href="#">Innovate</a> and <a
						href="#">Grow.</a></strong></p>
		</div>

		<div class="row container-fluid mt-100 growth-inner-section">
			<div class="col-xs-12 col-sm-6 col-lg-6">
				<h2 class="text-left font-weight-bold type-big m-0">Build</h2>
				<p class="text-left growth-section-para mt-1">Start with the rock-solid foundation of a powerful
					ecommerce platform.</p>

				<div class="section-portion mt-5">
					<h2 class="text-left quote-text">"With BigCommerce, we can get our product online in minutes. Gone
						are the long delays to make changes on our website and launching new products."</h2>
					<p class="quote-pata"><strong class="font-weight-bold">KENT BALL</strong><span class="pl-2">SR. WEB
							OPERATIONS SPECIALIST, WOOLRICH</span></p>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-lg-6">
				<img src="../../../assets/images/collage-storefront-design-woolrich.webp">
			</div>
		</div>
		<div class="row container-fluid mt-50 growth-btm-section">
			<div class="col-xs-12 col-sm-6 col-lg-6 col-xl-3">
				<div class="growth-logo"><img src="../../../assets/images/icon-agile-generic_logo-entry.svg"
						alt="icon-agile-generic_logo-entry"></div>
				<div class="growth-btm-quote pt-4">
					<h6 class="font-weight-bold">Design with Freedom</h6>
					<p class="m-0">Spark creativity and craft beautiful store experiences with design tools that know no
						bounds.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-6 col-xl-3">
				<div class="growth-logo"><img src="../../../assets/images/icon-security-a-generic_logo-entry.svg"
						alt="icon-security-a-generic_logo-entry"></div>
				<div class="growth-btm-quote pt-4">
					<h6 class="font-weight-bold">Operate without Worry</h6>
					<p class="m-0">Tame operational complexity with an easy-to-use, secure platform that's up when you
						need it most.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-6 col-xl-3">
				<div class="growth-logo"><img src="../../../assets/images/icon-performance-a-generic_logo-entry.svg"
						alt="icon-performance-a-generic_logo-entry"></div>
				<div class="growth-btm-quote pt-4">
					<h6 class="font-weight-bold">Outperform the Competition</h6>
					<p class="m-0">Deliver lightning-fast commerce experiences that keep your customers coming back for
						more.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-6 col-xl-3">
				<div class="growth-logo"><img src="../../../assets/images/Woolrich-Black.svg" alt="Woolrich-Black">
				</div>
				<div class="growth-btm-quote pt-4">
					<h6 class="font-weight-bold">Clothing Brand Relaunches</h6>
					<p class="m-0">How Woolrich elevates its business with BigCommerce.</p>
					<a role="button" class="button download-btn text-uppercase text-dark float-left w-100 pt-3"
						href="https://www.bigcommerce.com/case-study/woolrich/">Read Their Story<span
							class="custom-arrow"><i class="fa fa-long-arrow-right icon-clr"
								aria-hidden="true"></i></span></a>
				</div>
			</div>
		</div>
		<div class="section-divider"></div>
	</div>
</section>

<section class="growth w-100 float-left" id="growth-section">
	<div class="container">
		<div class="row container-fluid growth-inner-section">
			<div class="col-xs-12 col-sm-6 col-lg-6">
				<h2 class="text-left font-weight-bold type-big m-0">Innovate</h2>
				<p class="text-left growth-section-para mt-1">Turn impossible commerce experiences into reality with the
					flexibility of open SaaS.</p>

				<div class="section-portion mt-5">
					<h2 class="text-left quote-text">"BigCommerce is a reliable platform; since launching, we haven't
						had to do much maintenance, which frees up time to make improvements to our online store."</h2>
					<p class="quote-pata"><strong class="font-weight-bold">KABEER CHOPRA</strong><span
							class="pl-2">CO-FOUNDER AND CPO, BURROW</span></p>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-lg-6">
				<img src="../../../assets/images/collage-general-ecommerce-burrow.webp"
					alt="collage-general-ecommerce-burrow">
			</div>
		</div>
		<div class="row container-fluid mt-50 growth-btm-section">
			<div class="col-xs-12 col-sm-6 col-lg-6 col-xl-3">
				<div class="growth-logo"><img src="../../../assets/images/icon-design-generic_logo-entry.svg"
						alt="icon-design-generic_logo-entry"></div>
				<div class="growth-btm-quote pt-4">
					<h6 class="font-weight-bold">Stay Agile</h6>
					<p class="m-0">Seize market opportunities and unleash new experiences at the speed of your business.
					</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-6 col-xl-3">
				<div class="growth-logo"><img src="../../../assets/images/icon-headless-a-generic_logo-entry.svg"
						alt="icon-headless-a-generic_logo-entry"></div>
				<div class="growth-btm-quote pt-4">
					<h6 class="font-weight-bold">Go Headless</h6>
					<p class="m-0">Craft content-rich experiences anywhere your audience takes you.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-6 col-xl-3">
				<div class="growth-logo"><img src="../../../assets/images/icon-api-a-generic_logo-entry.svg"
						alt="icon-api-a-generic_logo-entry"></div>
				<div class="growth-btm-quote pt-4">
					<h6 class="font-weight-bold">Integrate Anything</h6>
					<p class="m-0">Make unifying your backend or powering up with third-party apps a breeze.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-6 col-xl-3">
				<div class="growth-logo"><img src="../../../assets/images/Burrow-Black.svg" alt="Burrow-Black"></div>
				<div class="growth-btm-quote pt-4">
					<h6 class="font-weight-bold">A Flexible Framework</h6>
					<p class="m-0">How Burrow chose BigCommerce for customization and flexible feature integrations.</p>
					<a role="button" class="button download-btn text-uppercase text-dark float-left w-100 pt-3"
						href="https://www.bigcommerce.com/case-study/woolrich/">Read Their Story<span
							class="custom-arrow"><i class="fa fa-long-arrow-right icon-clr"
								aria-hidden="true"></i></span></a>
				</div>
			</div>
		</div>
		<div class="section-divider"></div>
	</div>
</section>

<section class="growth w-100 float-left" id="growth-section">
	<div class="container">
		<div class="row container-fluid growth-inner-section">
			<div class="col-xs-12 col-sm-6 col-lg-6">
				<h2 class="text-left font-weight-bold type-big m-0">Grow</h2>
				<p class="text-left growth-section-para mt-1">Scale and grow smarter without complexity holding you
					back.</p>

				<div class="section-portion mt-5">
					<h2 class="text-left quote-text">"On BigCommerce, we now have an extremely agile environment that
						can change quickly to meet our business needs."</h2>
					<p class="quote-pata"><strong class="font-weight-bold">MARK HOPKINS</strong><span class="pl-2">CHIEF
							INFORMATION OFFICER, SKULLCANDY</span></p>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-lg-6">
				<img src="../../../assets/images/collage-headless-commerce-amazon-facebook-instagram-skullcandy.webp"
					alt="collage-headless-commerce-amazon-facebook-instagram-skullcandy">
			</div>
		</div>
		<div class="row container-fluid mt-50 growth-btm-section">
			<div class="col-xs-12 col-sm-6 col-lg-6 col-xl-3">
				<div class="growth-logo"><img src="../../../assets/images/icon-convert-generic_logo-entry.svg"
						alt="icon-convert-generic_logo-entry"></div>
				<div class="growth-btm-quote pt-4">
					<h6 class="font-weight-bold">Convert More</h6>
					<p class="m-0">Seize market opportunities and unleash new experiences at the speed of your business.
					</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-6 col-xl-3">
				<div class="growth-logo"><img src="../../../assets/images/icon-global-generic_logo-entry.svg"
						alt="icon-global-generic_logo-entry"></div>
				<div class="growth-btm-quote pt-4">
					<h6 class="font-weight-bold">Go Headless</h6>
					<p class="m-0">Craft content-rich experiences anywhere your audience takes you.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-6 col-xl-3">
				<div class="growth-logo"><img src="../../../assets/images/icon-analytics-generic_logo-entry.svg"
						alt="icon-analytics-generic_logo-entry"></div>
				<div class="growth-btm-quote pt-4">
					<h6 class="font-weight-bold">Integrate Anything</h6>
					<p class="m-0">Make unifying your backend or powering up with third-party apps a breeze.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-6 col-xl-3">
				<div class="growth-logo"><img src="../../../assets/images/Skullcandy-Black.svg" alt="Skullcandy-Black">
				</div>
				<div class="growth-btm-quote pt-4">
					<h6 class="font-weight-bold">A Flexible Framework</h6>
					<p class="m-0">How Burrow chose BigCommerce for customization and flexible feature integrations.</p>
					<a role="button" class="button download-btn text-uppercase text-dark float-left w-100 pt-3"
						href="https://www.bigcommerce.com/case-study/woolrich/">Read Their Story<span
							class="custom-arrow"><i class="fa fa-long-arrow-right icon-clr"
								aria-hidden="true"></i></span></a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="growth w-100 float-left grow-bg mt-100" id="growth-section">
	<div class="container">
		<div class="inner-section d-flex justify-content-center align-items-center">
			<p class="font-weight-bold text-white">BigCommerce Named a Leader in IDC MarketScape</p>
			<button type="submit" class="growth-btn bg-white"><a href="#" class="text-dark">Download Now</a></button>
		</div>
	</div>
</section>

<section class="growth w-100 float-left bg-gray pt-100 pb-100" id="growth-section">
	<div class="container">
		<div class="container-fluid">
			<h2 class="text-center growth-headingtxt">Burrow Gets Cozy With New Ecommerce Platform</h2>
		</div>

		<div class="row container-fluid growth-inner-section pt-3">
			<div class="col-xs-12 col-sm-6 col-lg-6">
				<div class="section-portion mt-5">
					<h2 class="text-left quote-text">“BigCommerce has been a great partner for us because they have all
						the tools and technologies out-of-the-box that we really need, and we don't want to spend our
						own time kind of reinventing.”</h2>
					<p class="quote-pata"><strong class="font-weight-bold">ALEX KUBO</strong><span class="pl-2">VP,
							ECOMMERCE AND DIGITAL MARKETING, BURROW</span></p>
					<a role="button" class="button download-btn text-uppercase text-dark float-left w-100 pt-3"
						href="https://www.bigcommerce.com/case-study/woolrich/">Read Their Story<span
							class="custom-arrow"><i class="fa fa-long-arrow-right icon-clr"
								aria-hidden="true"></i></span></a>
				</div>

			</div>

			<div class="col-xs-12 col-sm-6 col-lg-6 pt-5">
				<img src="../../../assets/images/collage-video-case-study-burrow.webp"
					alt="collage-video-case-study-burrow">
			</div>
		</div>

	</div>
</section>
<section class="growth w-100 float-left pt-100 pb-100 grow-bg" id="growth-section">
	<div class="container">
		<div class="container-fluid">
			<h2 class="text-center text-white growth-headingtxt pb-3">Your Commerce, Without Limits</h2>
			<p class="text-center text-white growth-top-para">Empower innovation for your brand—all at a lower total
				cost of ownership than other leading ecommerce platforms.</p>
		</div>

		<div class="container-fluid">
			<div class="row growth-inner-section mt-5 w-100">
				<div class="col-xs-12 col-sm-6 col-lg-6 col-xl-4">
					<div class="growth-logo"><img src="../../../assets/images/icon-api-b-generic_logo-entry.svg"
							alt="icon-api-b-generic_logo-entry"></div>
					<div class="growth-btm-quote pt-4 text-white">
						<h6 class="font-weight-bold pt-2 pb-2">API Driven</h6>
						<p class="m-0 text-white">Flexible APIs and over 400 calls per second, per customer.</p>
					</div>
				</div>

				<div class="col-xs-12 col-sm-6 col-lg-6 col-xl-4">
					<div class="growth-logo"><img src="../../../assets/images/icon-headless-a-generic_logo-entry.svg"
							alt="icon-headless-a-generic_logo-entry"></div>
					<div class="growth-btm-quote pt-4 text-white">
						<h6 class="font-weight-bold pt-2 pb-2">API Driven</h6>
						<p class="m-0 text-white">Flexible APIs and over 400 calls per second, per customer.</p>
					</div>
				</div>

				<div class="col-xs-12 col-sm-6 col-lg-6 col-xl-4">
					<div class="growth-logo"><img src="../../../assets/images/icon-security-b-generic_logo-entry.svg"
							alt="icon-security-b-generic_logo-entry"></div>
					<div class="growth-btm-quote pt-4 text-white">
						<h6 class="font-weight-bold pt-2 pb-2">API Driven</h6>
						<p class="m-0 text-white">Flexible APIs and over 400 calls per second, per customer.</p>
					</div>
				</div>

				<div class="col-xs-12 col-sm-6 col-lg-6 col-xl-4">
					<div class="growth-logo"><img src="../../../assets/images/icon-performance-b-generic_logo-entry.svg"
							alt="icon-performance-b-generic_logo-entry"></div>
					<div class="growth-btm-quote pt-4 text-white">
						<h6 class="font-weight-bold pt-2 pb-2">API Driven</h6>
						<p class="m-0 text-white">Flexible APIs and over 400 calls per second, per customer.</p>
					</div>
				</div>

				<div class="col-xs-12 col-sm-6 col-lg-6 col-xl-4">
					<div class="growth-logo"><img src="../../../assets/images/icon-toc-generic_logo-entry.svg"
							alt="icon-toc-generic_logo-entry"></div>
					<div class="growth-btm-quote pt-4 text-white">
						<h6 class="font-weight-bold pt-2 pb-2">API Driven</h6>
						<p class="m-0 text-white">Flexible APIs and over 400 calls per second, per customer.</p>
					</div>
				</div>

				<div class="col-xs-12 col-sm-6 col-lg-6 col-xl-4">
					<div class="growth-logo"><img src="../../../assets/images/icon-support-generic_logo-entry.svg"
							alt="icon-support-generic_logo-entry"></div>
					<div class="growth-btm-quote pt-4 text-white">
						<h6 class="font-weight-bold pt-2 pb-2">API Driven</h6>
						<p class="m-0 text-white">Flexible APIs and over 400 calls per second, per customer.</p>
					</div>
				</div>
			</div>

			<div class="d-flex justify-content-center mt-5 commerce">
				<button type="submit" class="growth-btn bg-white"><a href="#"
						class="text-dark font-weight-bold text-uppercase">View All Features</a></button>
			</div>
		</div>
	</div>
</section>

<!--<section class="growth w-100 float-left tab-slider pt-100" id="growth-section">
		<h2 class="text-center growth-headingtxt pb-50">We Power Some of the World's Most Successful Brands</h2>
		<div class="container">
			<div class="container-fluid">
		<ul class="nav nav-tabs mt-5" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu1">Menu 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu2">Menu 2</a>
    </li>
  </ul>

  <!-- Tab panes -->
<!-- <div class="tab-content">
	    <div id="home" class="container tab-pane active"><br>
	      <h3>HOME</h3>
	      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	    </div>
	    <div id="menu1" class="container tab-pane fade"><br>
	      <h3>Menu 1</h3>
	      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	    </div>
	    <div id="menu2" class="container tab-pane fade"><br>
	      <h3>Menu 2</h3>
	      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
	    </div>
	  </div>
	</div>
</div>
	</section>-->

<section class="growth w-100 float-left blog-section pt-100" id="growth-section">
	<div class="container">
		<div class="container-fluid ">
			<div class="row growth-inner-section mb-4">
				<h2 class="text-left font-weight-bold type-big float-left w-100 mb-5">Resources & Blog</h2>
				<div class="col-xs-12 col-sm-6 col-lg-6 col-xl-4 blog-column">
					<div class="blog-div p-5">
						<h6 class="text-white">Blog</h6>
						<h3 class="text-white">Marketing Matchmaker: Finding Your Perfect Agency</h3>
						<p class="text-white">When it comes to marketing in 2020, simply using traditional methods is no
							longer going to cut it.</p>
						<a role="button" class="button button--none button--textCta text-uppercase text-white"
							href="https://www.bigcommerce.com/case-study/jeep-people/" tabindex="0">Read More<span
								class="button--textCta-arrow"><i class="fa fa-long-arrow-right"
									aria-hidden="true"></i></span></a>
					</div>
				</div>

				<div class="col-xs-12 col-sm-6 col-lg-6 col-xl-8 blog-column rt-column-blog">
					<div class="blog-div p-5">
						<h6 class="text-white">Blog</h6>
						<h3 class="text-white">The Secret to Your Future Growth: Social Commerce</h3>
						<p class="text-white">Most purchase journeys have too many unnecessary steps in the conversion
							funnel.</p>
						<a role="button" class="button button--none button--textCta text-uppercase text-white"
							href="https://www.bigcommerce.com/case-study/jeep-people/" tabindex="0">Read More<span
								class="button--textCta-arrow"><i class="fa fa-long-arrow-right"
									aria-hidden="true"></i></span></a>
					</div>
					<div class="cardImage">
						<img alt="Ecommerce Blog Social Commerce" class="lozad cardImage-image"
							src="https://wwwcdn.bigcommerce.com/www1.bigcommerce.com/assets/ecommerce-blog-social-commerce.png?mtime=20191112152455"
							data-loaded="true">
					</div>
				</div>
			</div>
		</div>

		<div class="row growth-inner-section mb-4">
			<div class="col-xs-12 col-sm-6 col-lg-6 col-xl-8 blog-column rt-column-blog">
				<div class="blog-div p-5">
					<h6 class="text-white">Whitepaper</h6>
					<h3 class="text-white">How SaaS Gives CFOs Control Over Operating Expenditures</h3>
					<p class="text-white">Chief financial officers are welcoming a new technological shift in operating
						expenditures…</p>
					<a role="button" class="button button--none button--textCta text-uppercase text-white"
						href="https://www.bigcommerce.com/case-study/jeep-people/" tabindex="0">Read More<span
							class="button--textCta-arrow"><i class="fa fa-long-arrow-right"
								aria-hidden="true"></i></span></a>
				</div>
				<div class="cardImage">
					<img alt="Ecommerce Blog Social Commerce" class="lozad cardImage-image"
						src="https://wwwcdn.bigcommerce.com/www1.bigcommerce.com/assets/ecommerce-blog-social-commerce.png?mtime=20191112152455"
						data-loaded="true">
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-lg-6 col-xl-4 blog-column">
				<div class="blog-div p-5">
					<h6 class="text-white">Blog</h6>
					<h3 class="text-white">The 19 Most Innovative Ecommerce Brands of 2020</h3>
					<p class="text-white">In ecommerce, glitz and glam matter — a lot. In fact, brands that focus on the
						look and feel of their sites or who...</p>
					<a role="button" class="button button--none button--textCta text-uppercase text-white"
						href="https://www.bigcommerce.com/case-study/jeep-people/" tabindex="0">Read More<span
							class="button--textCta-arrow"><i class="fa fa-long-arrow-right"
								aria-hidden="true"></i></span></a>
				</div>
			</div>
		</div>
	</div>

</section>

<section class="growth w-100 float-left gradiant-bg mt-100" id="growth-section">
	<div class="container">
		<div class="inner-section d-flex justify-content-center align-items-center">
			<p class="font-weight-bold text-white">Bigger than you need right now? Start with BigCommerce Essentials.
			</p>
			<button type="submit" class="growth-btn grow-bg"><a href="#" class="text-white">Get The
					Essentials</a></button>
		</div>
	</div>
</section>

<app-footer></app-footer>