

<div class="bodyWrapper">
    <header class="bg-none w-100">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs pl-8perc">
            <li class="nav-item">
              <a class="nav-link active text-uppercase" data-toggle="tab" href="#home">Enterprise</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase" data-toggle="tab" href="#menu1">Essentials</a>
            </li>
            <ul class="list-inline d-flex justify-content-end align-items-center custom-rt-tab">
                <li class="pr-4"><a href="#">Call Sales: 1-888-248-9325</a></li>
                <li class="pr-4"><a href="#">Help Center</a></li>
                <li><a href="#">LogIn</a></li>
            </ul>
      </ul>
      
     <div class="tab-content">
        <div id="home" class="container tab-pane active">
         <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" href="#"><img src="../../../../assets/images/logo.svg" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse custom-nav" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Solutions</a>
            <div class="submenu-head">
            <ul class="submenu list-inline p-4">
                <li><a href="#" class="custom-fading text-uppercase">By Use Case</a></li>
                <li><a href="#" >Headless Commerce</a></li>
                <li><a href="#">B2B</a></li>
                <li><a href="#">Wholesale</a></li>
                <li><a href="#">Multi-Channel</a></li>
                <li><a href="#">International</a></li>
            </ul>
            <ul class="submenu list-inline p-4">
                <li><a href="#" class="custom-fading text-uppercase">By Industry</a></li>
                <li><a href="#">Apparel & Fashion</a></li>
                <li><a href="#">Health & Beauty</a></li>
                <li><a href="#">Food & Beverage</a></li>
                <li><a href="#">Manufacturing</a></li>
                <li><a href="#">Automotive</a></li>
            </ul>
            <ul class="list-inline pl-4">
            <li><p>Looking for small business solutions?</p>
            <p><a href="/essentials/" class="button custom-anchor list-inline">Try BigCommerce Essentials</a></p></li>
            </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Product</a>
            
            <div class="submenu-head">
            <ul class="submenu list-inline p-4">
                <li><a href="#" >Features</a></li>
                <li><a href="#">Services</a></li>
            </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Customers</a>
            <div class="submenu-head">
            <ul class="submenu list-inline p-4">
                <li><a href="#" >Case Studies</a></li>
                <li><a href="#">Customer Examples</a></li>
            </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Partners</a>
            <div class="submenu-head">
            <ul class="submenu list-inline p-4">
                <li><a href="#" >Overview</a></li>
                <li><a href="#">Become a Partner</a></li>
                <li><a href="#">Find an Agency Partner</a></li>
                <li><a href="#">Find a Technology Partner</a></li>
            </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Resources</a>
                    <div class="submenu-head">
            <ul class="submenu list-inline p-4">
                <li><a href="#" >BigCommerce Blog</a></li>
                <li><a href="#">Articles</a></li>
                <li><a href="#">Guides</a></li>
                <li><a href="#">Webinars</a></li>
                <li><a href="#">Events</a></li>
            </ul>
            </div>
          </li>
                
        </ul>
      </div> 
     <ul class="headerbtn-rt list-inline">
           <li class="float-right"><button class="header-btn"><a class="button button--action button--small text-uppercase text-white" href="/request-a-demo/">Request Demo</a></button></li>
        </ul> 
     </nav>	
      </div>
      </div>
    
    </header>
    </div>
